page-home {
  .track {
    display: flex;
    justify-content: center;

    .ponteiro {
      width: 50vw;
      height: 50vw;
      animation: all 0.1s ease-in;
    }
  }

  .btn {
    display: flex;
    justify-content: center;
  }
}
